In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import requests

In [4]:
url = "https://webpages.charlotte.edu/mscipion/"

r= requests.get(url)
print(r)

<Response [200]>

In [5]:
soup = BeautifulSoup(r.text, "lxml")

In [9]:
table = soup.find("table")
print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [10]:
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [11]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [12]:
df= pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [25]:
for i in rows[1:]:
    data = i.find_all("td")            
    row = [tr.text for tr in data]     
    l =len(df)                         
    df.loc[l]= row                     

df.head(6)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15